@import "../../node_modules/bootstrap/scss/bootstrap.scss";

$base03:    rgb(0, 43, 54);
$base02:    rgb(7, 54, 66);
$base01:    rgb(88, 110, 117);
$base00:    rgb(101, 123, 131);
$base0:     rgb(131, 148, 150);
$base1:     rgb(147, 161, 161);
$base2:     rgb(238, 232, 213);
$base3:     rgb(253, 246, 227);
$yellow:    rgb(181, 137, 0);
$orange:    rgb(203, 75, 22);
$red:       rgb(220, 50, 47);
$magenta:   rgb(211, 54, 130);
$violet:    rgb(108, 113, 196);
$blue:      rgb(38, 139, 210);
$cyan:      rgb(42, 161, 152);
$green:     rgb(133, 153, 0);

@mixin solarized-dark() {
    background-color: $base03;
    color: $base0;
}
@mixin solarized-light() {
    background-color: $base3;
    color: $base00;
}

html {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}
html, body {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale!important;
  background-color: $base02;
  color: $base1;
}

